/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ucsc-details-wrapper {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: .5em .5em 0;
  padding: .5em .5em 0;
}
