/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ucsc-details-wrapper {
	border: 1px solid #aaa;
	border: 1px solid var(--wp--preset--color--light-gray);

	.wrapper-heading {
		color: #aaa;
		color: var(--wp--preset--color--light-gray);
		font-size: 20px;
		font-size: var(--wp--preset--font-size--medium);
		margin-top: 0;
	}

	.wp-block-details {
		border:none
	}
}
