/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ucsc-details-wrapper {
	width: 100%;

	a.expand-collapse:active,
	a.expand-collapse:focus,
	a.expand-collapse:hover {
		color: #32373c;
	}

	a.expand-collapse:hover {
		background-color: var(--wp--preset--color--light-gray);
	}

	&.has-background {
		.expand-wrap {
			padding:0.5rem;
		}
	}

	.expand-wrap {
		display:flex;
		align-items:center;
		justify-items:left;
		padding:0.5rem 0;
		.expand-collapse {
			color: #32373c;
			background-color: var(--wp--preset--color--lightest-gray);
			padding: 0.5rem 0.5rem 0.5rem 1.25rem;
			text-decoration: none;
			position:relative;

		&::before {
    	font-family: dashicons, sans-serif;
    	position: absolute;
    	top: 1.7em;
    	left: 0.1em;
    	margin-top: -1.3em;
		}
	}

	#expand.expand-collapse {

		&::before {
			content: "\f345";
		}
	}

	#collapse.expand-collapse {

		&::before {
			content: "\f347";
		}
	}
	}

	.details-block {
		margin-top: 1rem;

		&:first-child {
			margin-top: 0;
		}
	}
}

