/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-ucsc-details {
		box-sizing:border-box;
		overflow:hidden
	}

.wp-block-ucsc-details summary { 
  cursor: pointer;
}

.wp-block-ucsc-details summary > * {
  display: inline;
}

// Use block gap for block; falls back to browser default if not supported.
.wp-block-ucsc-details > *:not(summary) {
	margin-block-start: var(--wp--style--block-gap);
	margin-block-end: 0;
}

// Remove excess margin from the last block.
.wp-block-ucsc-details > *:last-child {
	margin-bottom: 0;
}

details.wp-block-ucsc-details[class*="is-style-"]:not([class*="is-style-default"]){
	summary {
		list-style: none;
		&::-webkit-details-marker {
			display:none;
		}
		&::before {
			color: currentColor;
		}
	}
}

.wp-block-ucsc-details {

	&.is-style-chevron {
		summary::before{
			content: "\f345";
		}
	}
	&.is-style-plus {
		summary::before{
			content: "\f543";
		}
	}
	&.is-style-check {
		summary::before{
			content: "\f147";
		}
	}
	&.has-small-font-size {
		summary::before{
			font-size: var(--wp--preset--font-size--small);
			padding-top: 0.1625rem;
		}
	}
	&.has-base-font-size {
		summary::before{
			font-size: var(--wp--preset--font-size--base);
			padding-top: 0.1625rem;
		}
	}
	&.has-one-font-size {
		summary::before{
			font-size: var(--wp--preset--font-size--one);
			padding-top: 0.167rem;
		}
	}
	&.has-two-font-size {
		summary::before{
			font-size: var(--wp--preset--font-size--two);
			padding: 0.2rem 0.2rem 0 0.2rem;
		}
	}
	&.has-three-font-size {
		summary::before{
			font-size: var(--wp--preset--font-size--three);
			padding: 0.4rem 0.3rem 0 0.2rem;
		}
	}
	&.has-four-font-size {
		summary::before{
			font-size: var(--wp--preset--font-size--four);
			padding: 0.5rem 1rem 0 0;
		}
	}
	&.has-five-font-size {
		summary::before{
			font-size: var(--wp--preset--font-size--five);
			padding: 0.6rem 1.25rem 0 0.5rem;
		}
	}
	&.has-six-font-size {
		summary::before{
			font-size: var(--wp--preset--font-size--six);
			padding: 0.6rem 1.25rem 0 0.5rem;
		}
	}
	&.has-seven-font-size {
		summary::before{
			font-size: var(--wp--preset--font-size--seven);
			padding: 0.7rem 2rem 0 0;
		}
	}
	&.has-eight-font-size {
		summary::before{
			font-size: var(--wp--preset--font-size--eight);
			padding: 1.25rem 3rem 0 .5rem;
		}
	}
	
}

.wp-block-ucsc-details[open] {

	&.is-style-chevron {
		summary::before{
			content: "\f347";
		}
	}
	&.is-style-plus {
		summary::before{
			content: "\f460";
		}
	}
	&.is-style-check {
		summary::before{
			content: "\f335";
		}
	}
	
}
